h1.event-details-header {
    font-weight: 600;
    font-size: 5rem;
    color: pink;
}

p.event-details-description {
    margin-top: 1rem;
}

#prizes {
    max-width: 80%;
    margin-bottom: 2rem;
}

h3.prizes-header {
    font-weight: 800;
}

#prizes li{
    font-weight: 500;
    margin-top: 1rem;
}

#register {
    max-width: 80%;
    margin-bottom: 2rem;
}

h3.register-header {
    font-weight: 800;
}

#register li{
    font-weight: 500;
    margin-top: 1rem;
}

#rules {
    max-width: 80%;
}

h3.rules-header {
    font-weight: 800;
}

li.main-rule {
    font-weight: 500;
    margin-top: 1rem;
}

li.sub-rule {
    font-weight: 300;
    margin-top: 1rem;
}

