{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'events/styles/psb_details.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="psb-banner-header">Physics Speed Bowl</h1>
        <p class="psb-banner-description">
            Welcome to YPA's first ever event! Physics Speed Bowl(PSB) is a Quiz Bowl style
            contest bringing together interested and talented physics students. The competition
            will take place through Zoom on July 10th 2020. The winning team will receive $150.
        </p>
    </div>
</div>
<div id="prizes">
    <h3 class="prizes-header">Prizes</h3>
    <ol>
        <li>
            The winning team will recieve 150 USD.
        </li>
    </ol>
</div>
<div id="register">
    <h3 class="register-header">Register</h3>
    <ol>
        <li>
            <b>
                THE REGISTRATION FOR PSB 2020 IS NOW CLOSED AS 32 TEAMS HAVE BEEN CHOSEN.
            </b>
        </li>
        <li>
            <a href="https://forms.gle/TCGVQm7k8m94kP117" target="_blank">
                Click this link to register
            </a>
        </li>
        <li>
            Registration must be completed by the end of July 8th 2020.
        </li>
        <li>
            Only one member per team should fill out the registration
            form.
        </li>
        <li>
            After registering, you will receive a message confirming
            your registration within a couple days.
        </li>
    </ol>
</div>
<div id="rules">
    <h3 class="rules-header">Rules</h3>
    <ol>
        <li class="main-rule">
            Each team will consist of 1-4 high school students.
            <ul>
                <li class="sub-rule">
                    Students do not need to be in the same school to be on a team.
                </li>
            </ul>
        </li>
        <li class="main-rule">
            Each round will consist of 15 pairs of toss up and bonus questions.
            <ul>
                <li class="sub-rule">
                    Each toss up question is worth 4 points and each bonus question is worth 10 points.
                </li>
                <li class="sub-rule">
                    Patricipants may answer the question before it is fully read, but an incorrect answer
                    will give the opposing team 4 points and the chance to answer.
                </li>
                <li class="sub-rule">
                    Toss up questions are given 20 seconds and bonus questions are given 30 seconds.
                </li>
                <li class="sub-rule">
                    Toss up questions must be answered individually, but teams may confer for bonus questions.
                </li>
            </ul>
        </li>
        <li class="main-rule">
            After all questions have been asked, the winner will be determined
            by the team with the most points.
        </li>
        <li class="main-rule">
            If the score is tied after all questions, the winner will be determined
            by the team which answered the last question correctly.
        </li>
        <li class="main-rule">
            The tournament bracket will be randomly generated.
            <ul>
                <li class="sub-rule">
                    The format of the tournament is single elimination.
                </li>
            </ul>
        </li>
    </ol>
</div>
{% endblock %}