{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'ypa_app/css/events.css' %}">
{% endblock %}


{% block content %}
<div class="row mt-5 ml-5 mr-5">
    <div class="col-md-8">
        <h1 class="events-banner-header">Events</h1>
        <p class="events-banner-description">
            YPA hosts a number of events throughout both the school year and the summer.
            These events allow students to network and come together to have a great
            experience solving physics problems or participating in challenges.
        </p>
    </div>
</div>
<div class="row mt-5 ml-5 mr-5">
    <div class="col-md-6">
        <h1 class="event-header">Think Physics! 2020</h1>
        <h4 class="event-date mt-3 mb-3">End Date: September 18th<a class="m-5 mt-1 mb-1"
                href="{% url 'events-think' %}" target="_blank"><button type="button"
                    class="btn btn-outline-info btn-lg">Details</button></a>
        </h4>
        <p class="event-description">
            Considering you are reading this, a lot of your experience in physics is likely centered around solving
            problems from textbooks or tests and contests. Now it is your chance to go a step forward and solve a real
            world problem of your choice. In YPA’s next contest, write a research paper that proposes
            a hypothetical solution backed by physics that aims to make progress in solving some type
            of issue, whether it is a global issue or a small one in our daily lives.
        </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <a href="{% url 'events-think' %}" target="_blank">
            <img class="event-img img-responsive" src="{% static 'ypa_app/images/events/ThinkPhysics.png' %}">
        </a>
    </div>
</div>
<div class="row mt-5 ml-5 mr-5">
    <div class="col-md-6">
        <h1 class="event-header">Code-ify Physics! 2020</h1>
        <h4 class="event-date mt-3 mb-3">End Date: September 18th<a class="m-5 mt-1 mb-1"
                href="{% url 'events-codeify' %}" target="_blank"><button type="button"
                    class="btn btn-outline-info btn-lg">Details</button></a>
        </h4>
        <p class="event-description">
            Love coding and love physics? For YPA’s third ever contest we are hosting the Code-ify
            Physics contest which will allow you to do both at the same time! You will get the
            opportunity to code any physics related ideas you want for a chance to win prizes.
            From an educational program to a physics simulation, the sky’s the limit!
        </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <a href="{% url 'events-codeify' %}" target="_blank">
            <img class="event-img img-responsive" src="{% static 'ypa_app/images/events/Codeify.png' %}">
        </a>
    </div>
</div>
<div class="row mt-5 ml-5 mr-5">
    <div class="col-md-6">
        <h1 class="event-header">Azerbaijan Physics Bowl</h1>
        <h4 class="event-date mt-3 mb-3">Date: August 30th <a class="m-5 mt-1 mb-1" href="http://www.ypaphysicsaze.org"
                target="_blank"><button type="button" class="btn btn-outline-info btn-lg">Details</button></a></h4>
        <p class="event-description">
            YPA has partnered with the Ministry of Education in Azerbaijan to host the National
            Physics Bowl competition of Azerbaijan (PhBA). PhBA is a quiz bowl of similar format to that
            of Physics Speed Bowl. In order to register a team for this event, you must be a citizen of
            Azerbaijan. More details for the competition can be found on the YPA Azerbaijan website.
        </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="m-0.5 bg-light">
            <a href="http://www.ypaphysicsaze.org" target="_blank">
                <img class="event-img img-responsive" src="{% static 'ypa_app/images/events/PhBA.png' %}">
            </a>
        </div>
    </div>
</div>
<div class="row mt-5 ml-5 mr-5">
    <div class="col-md-6">
        <h1 class="event-header">Physics Speed Bowl (Completed) </h1>
        <h4 class="event-date mt-3 mb-3">Date: July 10th, 3:00 PM EDT <a class="m-5 mt-1 mb-1"
                href="{% url 'events-psb' %}" target="_blank"><button type="button"
                    class="btn btn-outline-info btn-lg">Details</button></a>
        </h4>
        <p class="event-description">
            The Physics Speed Bowl (PSB) was the first ever event hosted by YPA, and it
            was a huge success! After receiving high interest for the event, we selected the first
            32 teams to register for the event. In PSB, teams from across the world faced off against
            each other to fight out the problems in a high paced quiz bowl type format.
            Congratulations to our winners
            <span class="winners">Blairlake(USA)</span>, finalist <span class="winners">Chandrashekar
                Limit (USA)</span>,
            semi-finalist <span class="winners">Allen Ahemdabad (IND)</span>,
            and semi-finalist <span class="winners">Annihilators (AZE)</span>, for being the top 4 teams in the
            competition!
        </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <a href="{% url 'events-psb' %}">
            <img class="event-img img-responsive" src="{% static 'ypa_app/images/events/PSB_Square.png' %}"
                target="_blank">
        </a>
    </div>
</div>
{% endblock %}