{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'ypa_app/css/events.css' %}">
{% endblock %}


{% block content %}
<div class="row mt-5 ml-5 mr-5">
    <div class="col-md-8">
        <h1 class="events-banner-header">Events</h1>
        <p class="events-banner-description">
            YPA hosts a number of events throughout both the school year and the summer.
            These events allow students to network and come together to have a great
            experience solving physics problems or participating in challenges.
        </p>
    </div>
</div>
<div class="row mt-5 ml-5 mr-5">
    <div class="col-md-6">
        <h1 class="event-header">Azerbaijan Physics Bowl</h1>
        <h4 class="event-date">Date: August 9th <a href="http://www.ypaphysicsaze.org" target="_blank"><button
                    type="button" class="btn btn-outline-success btn-lg">Details</button></a></h4>
        <p class="event-description">
            YPA has partnered with the Ministry of Education in Azerbaijan to host the National
            Physics Bowl competition of Azerbaijan (PhBA). PhBA is a quiz bowl of similar format to that
            of Physics Speed Bowl. In order to register a team for this event, you must be a citizen of
            Azerbaijan. More details for the competition can be found on the YPA Azerbaijan website.
        </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="m-0.5 bg-light"><a href="http://www.ypaphysicsaze.org" target="_blank"><img
                    class="event-img img-responsive" src="{% static 'ypa_app/images/events/PhBA.png' %}"></a></div>

    </div>
</div>
<div class="row mt-5 ml-5 mr-5">
    <div class="col-md-6">
        <h1 class="event-header">Physics Speed Bowl (Completed) </h1>
        <h4 class="event-date">Date: July 10th, 3:00 PM EDT <a href="{% url 'events-psb' %}" target="_blank"><button
                    type="button" class="btn btn-outline-success btn-lg">Details</button></a>
        </h4>
        <p class="event-description">
            The Physics Speed Bowl (PSB) was the first ever event hosted by YPA, and it
            was a huge success! After receiving high interest for the event, we selected the first
            32 teams to register for the event. In PSB, teams from across the world faced off against
            each other to fight out the problems in a high paced quiz bowl type format.
            Congratulations to our winners
            <span class="winners">Blairlake(USA)</span>, finalist <span class="winners">Chandrashekar
                Limit (USA)</span>,
            semi-finalist <span class="winners">Allen Ahemdabad (IND)</span>,
            and semi-finalist <span class="winners">Annihilators (AZE)</span>, for being the top 4 teams in the
            competition!
        </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <a href="{% url 'events-psb' %}">
            <img class="event-img img-responsive" src="{% static 'ypa_app/images/events/PSB_Square.png' %}">
        </a>
    </div>
</div>
{% endblock %}