{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'ypa_app/css/home.css' %}">
{% endblock %}

{% block content %}

<div class="row mt-5 ml-5 mr-5">
    <div class="col-md-6">
        <h1 class="welcome-banner-header">Welcome to YPA!</h1>
        <p class="welcome-banner-description">
            The Young Physicists Association (YPA) is a student-run organization that provides opportunities and
            events
            for getting more high schoolers across the world interested in physics.
        </p>
        <h2 class="mt-5 mb-3 why-to-join">Why Should I Join YPA?</h2>
        <p class="why-to-join">
            That's a great question! YPA is an organization with the goal of spreading an interest in physics
            to high schools all over the world. By creating or being a member of a chapter,
            competing, or even just telling others about us, you help this mission succeed. YPA serves as a
            centralized
            physics organization for high school students, something not present in the past. We want to reach as
            many students as possible and allow them to participate in activities they enjoy, whether
            it is participating in quiz bowls with their friend, taking written competitions, or even
            just talking with others about the subject which brings us all together.
        </p>
    </div>
    <div class="col-md-4 center">
        <img class="home-img img-responsive"
            src="{% static 'ypa_app/images/Logos/white_logo_transparent_background.png' %}">
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row mt-5 ml-5 mr-5">
    <div class="col-md-4 center">
        <img class="home-img img-responsive" src="{% static 'ypa_app/images/emc2.png' %}">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <h2 class="mt-5 mb-3 what-events">What Events Do We Host?</h2>
        <p class="what-events">
            YPA aims to host a large variety of events ranging from test events to paper
            sumbissions. Unlike most Olympiads, YPA makes contests which are accessible to a large group of people, from
            AP students to Olympiad medalists. Our contests are also unique, and not just limited to tests; from quiz
            bowls to other fun and exciting events, YPA is sure to hold them. You can find more
            information about our events under the Events tab. In fact, if you have any good suggestions for future
            events, feel free to contact us at ypaexec@gmail.com.
        </p>
    </div>
    <div class="col-md-1"></div>
</div>

{% endblock %}