{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/home.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="welcome-banner-header">Welcome to YPA!</h1>
        <p class="welcome-banner-description">
            The Young Physcist's Association, or YPA for short, is a student run organization dedicated
            to the spread of physics across High Schools around the world. We host various events and
            allow for students to start YPA Chapters in their own schools.
        </p>
    </div>
</div>
<div class="information">
    <img class="home-image" src="{{ HomeImage.image_file.url }}">
    <div class="why-to-join">
        <h3>Why Should You Join YPA?</h3>
        <p>
            This is where some description will go This is where some description will go
            This is where some description will go This is where some description will go
            This is where some description will go This is where some description will go
            This is where some description will go This is where some description will go
            This is where some description will go This is where some description will go
            This is where some description will go This is where some description will go
            This is where some description will go This is where some description will go
            This is where some description will go This is where some description will go
        </p>
    </div>
</div>
{% endblock %}