{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/home.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="welcome-banner-header">Welcome to YPA!</h1>
        <p class="welcome-banner-description">
            The Young Physcist's Association, or YPA for short, is a student run organization dedicated
            to the spread of physics across High Schools around the world. We host various events and
            allow for students to start YPA Chapters in their own schools.
        </p>
    </div>
</div>
<div class="information">
    <img class="home-image" src="{% static 'home/images/Logo.png' %}">
    <div class="why-to-join">
        <h3>Why Should I Join YPA?</h3>
        <p>
            That's a great question! YPA is an organization with the goal of spreading physics
            to high schools all over the world. By creating or beign a member of a chapter,
            competing, or even just telling others about us, you help this mission succeed. The lack
            of a centralized physics organization for high schoolers is troubling. Students who are
            interested in physics deserve the opportunity to be able to study or participate in physics
            related activities at a deeper level. That is what YPA is all about. We want to reach as
            many students as possible and allow them to do whatever they are passionate about, whether
            it is participating in quiz bowls with their friend, taking written competitions, or even
            just talking with others about the subject which brings us all together.
        </p>
    </div>
</div>
{% endblock %}