div.jumbotron {
    max-height: 20rem;
}

h1.chapter-banner-header {
    text-align: center;
    font-weight: 600;
    font-size: 5rem;
    color: blue;
}

p.chapter-banner-description {
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    max-width: 60%;
}

div.register-chapter {
    text-align: center;
    margin-left: 2rem;
    width: 40%;
}

a.register-chapter-btn {
    position: relative;
    top: 1rem;
    padding: 1rem;
    background-color: gray;
    border-radius: 1000rem;
    color: White;
}

a.register-chapter-btn:hover {
    color: black;
}

a.register-chapter-btn:active {
    color: white;
    background-color: black;
}

div.view-chapters {
    position: absolute;
    text-align: center;
    width: 40%;
    top: 25rem;
    right: 2rem;
}

a.view-chapters-btn {
    position: relative;
    top: 1rem;
    padding: 1rem;
    background-color: gray;
    border-radius: 1000rem;
    color: White;
}

a.view-chapters-btn:hover {
    color: black;
}

a.view-chapters-btn:active {
    color: white;
    background-color: black;
}

#faq-list {
    position: absolute;
    top: 42rem;
    margin-left: 2rem;
    width: 100%;
    margin-bottom: 10rem;
}

.faq{
    margin-bottom: 1rem;
}

.faq-question-plus {
    width: 70%;
    height: 4rem;
    display: flex;
    align-items: center;
    background: peachpuff;
}

.faq-question {
    position: relative;
    left: 1rem;
}

.plus-or-minus {
    position: relative;
}

#sign1.plus-or-minus {
    position: relative;
    left: 35rem;
}

#sign2.plus-or-minus {
    position: relative;
    left: 39.3rem;
}

#sign3.plus-or-minus {
    position: relative;
    left: 40.15rem;
}

.faq-answer {
    display: none;
    position: relative;
    left: 1rem;
    top: 1rem;
    margin-bottom: 3rem;
    max-width: 65%;
}


@media only screen and (max-width: 51rem) {
    div.jumbotron {
        max-height: 25rem;
    }

    div.view-chapters {
        position: absolute;
        text-align: center;
        width: 40%;
        top: 26.5rem;
        right: 2rem;
    }
}

@media only screen and (max-width: 50.5rem) {
    div.jumbotron {
        max-height: 25rem;
    }

    div.view-chapters {
        position: absolute;
        text-align: center;
        width: 40%;
        top: 26.5rem;
        right: 2rem;
    }

    #faq-list {
        position: absolute;
        top: 44rem;
        margin-left: 2rem;
        width: 100%;
        margin-bottom: 10rem;
    }

@media only screen and (max-width: 48rem) {
    div.jumbotron {
        max-height: 25rem;
    }

    div.view-chapters {
        position: absolute;
        text-align: center;
        width: 40%;
        top: 29.5rem;
        right: 2rem;
    }

    #faq-list {
        position: absolute;
        top: 50rem;
        margin-left: 2rem;
        width: 100%;
        margin-bottom: 10rem;
    }
}

@media only screen and (max-width: 36rem) {
    div.jumbotron {
        max-height: 25rem;
    }

    div.view-chapters {
        position: absolute;
        text-align: center;
        width: 40%;
        top: 32rem;
        right: 2rem;
    }

    #faq-list {
        position: absolute;
        top: 55rem;
        margin-left: 2rem;
        width: 100%;
        margin-bottom: 10rem;
    }

    .plus-or-minus {
        position: relative;
        left: 75%;
    }
    
}