div.jumbotron {
    max-height: 20rem;
    background-color: rgb(47, 53, 59)
}

h1.welcome-banner-header {
    font-weight: 600;
    font-size: 5rem;
    color: pink;
}

p.welcome-banner-description {
    margin-top: 1rem;
}

div.information {
    width: 100%;
    height: 100%;
}

img.home-image {
    margin-left: 2rem;
    height: 27rem;
    box-shadow: 0.3rem 0.3rem 2rem -0.8rem black;
}

div.why-to-join {
    position: absolute;
    top: 25rem;
    right: 10rem;
    text-align: center;
    max-width: 45%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2.why-to-join {
    color: pink;
}

@media only screen and (max-width: 65rem) {
    img.home-image {
        display: none;
    }

    div.why-to-join {
        position: absolute;
        text-align: center;
        left: 7.5rem;
        padding: 0rem;
        margin: 0rem;
        max-width: 55rem;
    }
}

@media only screen and (max-width: 48rem) {
    div.jumbotron {
        max-height: 40rem;
    }    

    img.home-image {
        display: none;
    }

    div.why-to-join {
        position: absolute;
        text-align: center;
        left: 4rem;
        top: 42rem;
        max-width: 40rem;
    }
}

@media only screen and (max-width: 46rem) {
    div.jumbotron {
        max-height: 40rem;
    }    

    img.home-image {
        display: none;
    }

    div.why-to-join {
        position: absolute;
        text-align: center;
        left: 4rem;
        top: 45rem;
        max-width: 40rem;
    }
}

@media only screen and (max-width: 46rem) {
    div.jumbotron {
        max-height: 40rem;
    }    

    img.home-image {
        display: none;
    }

    div.why-to-join {
        position: absolute;
        text-align: center;
        left: 4rem;
        top: 45rem;
        max-width: 40rem;
        margin: 0rem;
        padding: 0rem;
    }
}