div.jumbotron {
    max-height: 20rem;
    background-color: rgb(47, 53, 59)
}

h1.welcome-banner-header {
    font-weight: 600;
    font-size: 5rem;
    color: pink;
}

p.welcome-banner-description {
    margin-top: 1rem;
}

div.information {
    width: 100%;
    height: 100%;
}

img.home-img {
    max-width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2.why-to-join {
    color: pink;
}