{% extends 'base.html' %}
{% load static %}

{% block meta-tags %}
<meta name="description"
    content="Particpate in YPA Physics's Code-ify Physics! 2020 event. Join the Young Physicists Association with computer science and physics">
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'ypa_app/css/event_detail.css' %}">
{% endblock %}

{% block content %}
<div class="row mt-5 ml-5 mr-5">
    <div class="col-md-6 bg">
        <h1 class="event-details-header">Code-ify Physics! 2020</h1>
        <p class="event-details-description">
            In YPA Physics’s third contest ever, you code any physics related program you wish! This can
            be done in Python, Java, or any other coding languages you desire. Possibilities include
            educational software, simulations and demonstrations, websites, and much more! The total prizes available
            are worth around <strong>$1000</strong>!
        </p>
    </div>
</div>
<div class="container">
    <div id="prizes">
        <h3>Prizes</h3>
        <ol>
            <li>
                The top 3 contestants will win a 1 year licenses for both Wolfram | One and Wolfram | Alpha
                (<strong>$300+ VALUE</strong> for each winner).
            </li>
            <li>
                More prizes may be added depending on how much interest is shown.
            </li>
        </ol>
    </div>
    <div id="register">
        <h3>Register</h3>
        <ol>
            <li>
                <a class="register-link" href="https://forms.gle/P6mUqd6BcGxsNEh18" target="_blank">
                    Click this link to register!
                </a>
            </li>
            <li>
                This is an individual contest.
            </li>
            <li>
                You must be going to high school as of fall 2020 in order to participate.
            </li>
            <li>
                After registering, you will receive a message confirming
                your registration within a couple days.
            </li>
        </ol>
    </div>
    <div id="rules">
        <h3>Tasks, Rules, and Submissio</h3>
        <ol>
            Go to <strong><a href="https://github.com/YPA-Physics/code-ify-physics-2020"></a></strong> for all details.
        </ol>
        <h3>Judging</h3>
        <ol>
            <li class="main-rule">
                Judging will involve around 8 judges and will be broken into two parts.
                <ul>
                    <li class="sub-rule">
                        PART 1: each judge will give a score out of 10 to each of the qualities
                        listed in Tasks(2), and the 10 best programs with the highest scores on
                        average will be considered for part 2.
                    </li>
                    <li class="sub-rule">
                        PART 2: each judge will rank the top 10, and the winners will be decided by
                        best average rank from all of the judges. The ranking will be based off of
                        the qualities listed in Task(2).
                    </li>
                </ul>
            </li>
            <li class="main-rule">
                While judging, the judges will not know the name of the contestant to remove any bias.
                Having your name on the program is not recommended as doing so will result in lower
                judge scores.
            </li>
        </ol>
    </div>
</div>
{% endblock %}