{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'team/styles/team.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="team-banner-header">Our Team</h1>
        <p class="team-banner-description">
            Our team is composed of highly dedicated high school students from the United States
            and Canada. Each and every member on our team is determined to provide the best content
            and services to our members.
        </p>
    </div>
</div>
<div id="team-list">
    <div class="sid card">
        <div class="card-body">
            <img src="{% static 'team/images/Sid_Circle.jpg' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Sid Jha
                </h3>
                <h5 class="position">
                    Co-Founder & President
                </h5>
                <h6 class="school">
                    Huron High School
                </h6>
            </div>
        </div>
    </div>
    <div class="jerry card">
        <div class="card-body">
            <img src="{% static 'team/images/Jerry_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Jerry Li
                </h3>
                <h5 class="position">
                    Co-Founder & VP of Marketing
                </h5>
                <h6 class="school">
                    Huron High School
                </h6>
            </div>
        </div>
    </div>
    <div class="joshua card">
        <div class="card-body">
            <img src="{% static 'team/images/Joshua_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Joshua Scripcaru
                </h3>
                <h5 class="position">
                    Co-Founder & VP of Events
                </h5>
                <h6 class="school">
                    Earl Haig Secondary School
                </h6>
            </div>
        </div>
    </div>
    <div class="danesh card">
        <div class="card-body">
            <img src="{% static 'team/images/Danesh_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Danesh Sivakumar
                </h3>
                <h5 class="position">
                    Contest Manager
                </h5>
                <h6 class="school">
                    Richard Montgomery High School
                </h6>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <img src="{% static 'team/images/Question_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    This Could Be You!
                </h3>
                <a href="https://docs.google.com/document/d/1G4AUecDjOjdf1DAxipcJG21FXZYdd0NOmDXS96QXXQM/edit?usp=sharing"
                    target="_blank">
                    <button type="button" class="apply btn btn-large btn-outline-success">Apply</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}