{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'team/styles/team.css' %}">
{% endblock %}

{% block content %}
<div class="container mb-5">
    <div class="row mt-5">
        <div class="col-md-6">
            <h1 class="team-banner-header">Our Team</h1>
            <p class="team-banner-description">
                Our team is composed of highly dedicated high school and college students from all across
                the world. We select our team based on their demonstrated passion for physics, leadership,
                and communication skills. Each and every member on our team is determined to
                provide the best content and services to our members. If you would like to join us,
                the link to our application can be found
                <a class="apply-link"
                    href="https://docs.google.com/document/d/1G4AUecDjOjdf1DAxipcJG21FXZYdd0NOmDXS96QXXQM/edit?usp=sharing"
                    target="_blank">here</a>.
            </p>
        </div>
    </div>
</div>
<div id="team-list">
    <div class="sid card">
        <div class="card-body">
            <img src="{% static 'team/images/Sid_Circle.jpg' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Siddharth Jha
                </h3>
                <h5 class="position">
                    Co-Founder & President
                </h5>
                <h6 class="school">
                    Huron High School
                </h6>
            </div>
        </div>
    </div>
    <div class="jerry card">
        <div class="card-body">
            <img src="{% static 'team/images/Jerry_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Jerry Li
                </h3>
                <h5 class="position">
                    Co-Founder & VP of Public Relations
                </h5>
                <h6 class="school">
                    Huron High School
                </h6>
            </div>
        </div>
    </div>
    <div class="joshua card">
        <div class="card-body">
            <img src="{% static 'team/images/Joshua_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Joshua Scripcaru
                </h3>
                <h5 class="position">
                    Co-Founder & VP of Events
                </h5>
                <h6 class="school">
                    Earl Haig Secondary School
                </h6>
            </div>
        </div>
    </div>
    <div class="danesh card">
        <div class="card-body">
            <img src="{% static 'team/images/Danesh_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Danesh Sivakumar
                </h3>
                <h5 class="position">
                    Contest Manager
                </h5>
                <h6 class="school">
                    Richard Montgomery High School
                </h6>
            </div>
        </div>
    </div>
    <div class="derek card">
        <div class="card-body">
            <img src="{% static 'team/images/Derek_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Derek Zhu
                </h3>
                <h5 class="position">
                    Director of Outreach
                </h5>
                <h6 class="school">
                    University of Chicago
                </h6>
            </div>
        </div>
    </div>
    <div class="heramb card">
        <div class="card-body">
            <img src="{% static 'team/images/Heramb_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Heramb Podar
                </h3>
                <h5 class="position">
                    Test Writer
                </h5>
                <h6 class="school">
                    PACE Junior Science College
                </h6>
            </div>
        </div>
    </div>
    <div class="aarush card">
        <div class="card-body">
            <img src="{% static 'team/images/Aarush_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Aarush Gupta
                </h3>
                <h5 class="position">
                    Test Writer & Website Developer
                </h5>
                <h6 class="school">
                    Montgomery High School
                </h6>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <img src="{% static 'team/images/Question_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    This Could Be You!
                </h3>
                <a href="https://docs.google.com/document/d/1G4AUecDjOjdf1DAxipcJG21FXZYdd0NOmDXS96QXXQM/edit?usp=sharing"
                    target="_blank">
                    <button type="button" class="apply btn btn-large btn-outline-success">Apply</button>
                </a>
            </div>
        </div>
    </div>
    <div class="ayhan aff card">
        <div class="card-body">
            <img src="{% static 'team/images/Ayhan_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Ayhan Süleymanzadə
                </h3>
                <h5 class="position">
                    YPA Azerbaijan Affiliate
                </h5>
                <h6 class="school">
                    Tdv-Baku Turkish Lyceum
                </h6>
            </div>
        </div>
    </div>
    <div class="murad aff card">
        <div class="card-body">
            <img src="{% static 'team/images/Murad_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Murad Bəşirov
                </h3>
                <h5 class="position">
                    YPA Azerbaijan Affiliate
                </h5>
                <h6 class="school">
                    TET Gymnasium
                </h6>
            </div>
        </div>
    </div>
    <div class="sirac aff card">
        <div class="card-body">
            <img src="{% static 'team/images/Sirac_Circle.png' %}" class="profile-img img-fluid rounded-circle">
            <div class="profile-information">
                <h3 class="name">
                    Sirac Yəhyazadə
                </h3>
                <h5 class="position">
                    YPA Azerbaijan Affiliate
                </h5>
                <h6 class="school">
                    TET Gymnasium
                </h6>
            </div>
        </div>
    </div>
</div>
{% endblock %}