html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to left top, #283048, #454d50) fixed;
}

div.main-div {
    width: 100%;
    height: 100%;
}

div.messages {
    position: absolute;
    width: 100%;
}

nav.navbar {
    padding: 1.5rem;
}

.navbar-brand , .navbar-brand:hover {
    color: lightsalmon;
}

.bg-darker {
    background-color: rgb(47, 53, 59);
}

a.nav-link {
    color: white;
    font-size: larger;
}

a.nav-link:hover {
    color: lightgoldenrodyellow;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rotate-anim {
    transition-duration: 2000ms;
    transition-property: transform;
}

.rotate-anim:hover {
    transform: rotate(360deg);
}

#copyright {
    padding: 2rem;
}

a {
    color: pink;
}

a:hover {
    color: rgb(215, 152, 163);
}