p {
    font-size: large;
}

h1.event-details-header {
    font-weight: 600;
    font-size: 3rem;
    color: peachpuff;
}

p.event-details-description {
    margin-top: 1rem;
    font-size: larger;
}

#prizes {
    max-width: 80%;
    margin-bottom: 2rem;
}

h3 {
    font-weight: 800;
}

#prizes li{
    font-weight: 500;
    margin-top: 1rem;
}

#register {
    max-width: 80%;
    margin-bottom: 2rem;
}

a.register-link {
    color: greenyellow;
}

#register li{
    font-weight: 500;
    margin-top: 1rem;
}

#rules {
    max-width: 80%;
}

li.main-rule {
    font-weight: 500;
    margin-top: 1rem;
}

li.sub-rule {
    font-weight: 300;
    margin-top: 1rem;
}

