p {
    font-size: large;
}

h1.events-banner-header {
    font-weight: 600;
    font-size: 4rem;
    color: pink;
}

p.events-banner-description {
    margin-top: 1rem;
    font-size: larger;
}

img.event-img {
    max-width: 100%;
}

h1.event-header {
    font-weight: 900;
    color: lightsalmon;
}

span.winners {
    color: lightskyblue;
    font-weight: 600;
}

a.event-details-btn {
    padding: 0.75rem;
    background-color: gray;
    border-radius: 1000rem;
    color: White;
}

a.event-details-btn:hover {
    color: black;
}

a.event-details-btn:active {
    color: white;
    background-color: black;
}

a.events-nav-link {
    color: lightgoldenrodyellow
}

.event-date {
    color: peachpuff;
}