p {
    font-size: large;
}

h1.welcome-banner-header {
    font-weight: 600;
    font-size: 4rem;
    color: pink;
}

p.welcome-banner-description {
    margin-top: 1rem;
    font-size: x-large;
}

div.information {
    width: 100%;
    height: 100%;
}

img.home-img {
    max-width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2.why-to-join {
    color: lightsalmon;
}

h2.what-events {
    color: lightgoldenrodyellow
}

a.home-nav-link {
    color: peachpuff;
}