h1.contact-banner-header {
    font-weight: 600;
    font-size: 5rem;
    color: pink;
}

p.contact-banner-description {
    margin-top: 1rem;
}

div.contact-points {
    margin-top: 2rem;
}

h6.contact-type {
    font-weight: 600;
}

p.contact-point {
    font-weight: 200;
}