{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'chapters/styles/home.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'chapters/js/home.js' %}"></script>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="chapter-banner-header">Chapters</h1>
        <p class="chapter-banner-description">
            Chapters allow for students and schools to be a part of YPA. Schools
            can set up chapters in order to officially be recognized by YPA. By
            creating chapters, schools have an organized medium to spread and
            enjoy physics.
        </p>
    </div>
</div>
<div class="register-chapter">
    <h3>
        Register a Chapter
    </h3>
    <p>
        Registering a chapter is quick and easy! Just click the button and fill out the
        neccesary information. YPA will alert you within a few days to confirm your
        registration. We cannot wait for you to be a part of our organization!
    </p>
    <a class="register-chapter-btn" href="https://forms.gle/FMNPG4KWL57eXahG9" target=_blank>Register a Chapter</a>
</div>
<div class="view-chapters">
    <h3>
        View Chapters
    </h3>
    <p>
        View the schools that have officially been recognized by chapters
        of YPA.
    </p>
    <a class="view-chapters-btn" href="{% url 'chapters:view-chapters' %}">View Chapters</a>
</div>
<div id="faq-list">
    <h3>Frequently Asked Questions</h3>
    <div class="faq">
        <span class="faq-question-plus">
            <span class="faq-question">
                Does Registering a Chapter Cost Money?
            </span>
            <a id="sign1" href="#" data-action="open" class="fas plus-or-minus fa-plus"></a>
        </span>
        <div class="faq-answer">
            No, registering a chapter is completely free!
        </div>
    </div>
    <div class="faq">
        <span class="faq-question-plus">
            <span class="faq-question">
                When Should I Start a Chapter?
            </span>
            <a id="sign2" href="#" data-action="open" class="fas plus-or-minus fa-plus"></a>
        </span>
        <div class="faq-answer">
            A chapter is a great thing to start if you feel that your school lacks
            opportunity for students interested in Physics. If you want to take the
            initiative to solve this issue, starting a YPA chapter is a great solution!
        </div>
    </div>
    <div class="faq">
        <span class="faq-question-plus">
            <span class="faq-question">
                How Do I Maintain a Chapter?
            </span>
            <a id="sign3" href="#" data-action="open" class="fas plus-or-minus fa-plus"></a>
        </span>
        <div class="faq-answer">
            Staring a chapter is a lot of fun, but it is also very challenging.
            You should start a chapter in your school only if you feel that you are willing
            to take on a serious leadership role and if you have a team of dedicated
            students backing your initiative. To maintain a chapter, remember to hold
            weekly or bi-weekly meetings and, most importantly, keep physics fun!
            If you experience any difficulties, do not be afraid to
            <a href="{% url 'contact:contact' %}">
                contact us.
            </a>
        </div>
    </div>
</div>
{% endblock %}